<!DOCTYPE html>
<html>

<head>
    <title> Predict lunminal </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
    <div id="main">
        <div class="main-selector">
            <select id="filename">
                <option value="">--Please select a slide--</option>
                {%for i in range(list_slide|length)%}
                <option value="{{list_slide[i]}}">{{list_slide[i]}}</option>
                {%endfor%}

            </select>
            <select id="model_name">
                <option value="">--Please select a model--</option>
                {%for i in range(model_list|length)%}
                <option value="{{model_list[i]}}">{{model_list[i]}}</option>
                {%endfor%}

            </select>
        </div>
        <a class="btn" onclick="run()">Run</a>
    </div>
    <div class="tabset" id="tabset">
        <!-- Tab 1 -->
        <input type="radio" name="tabset" id="tab1" aria-controls="prop" checked>
        <label for="tab1">Proportion patchs</label>
        <!-- Tab 2 -->
        <input type="radio" name="tabset" id="tab2" aria-controls="hist">
        <label for="tab2">Histogram</label>
        <!-- Tab 3 -->
        <input type="radio" name="tabset" id="tab3" aria-controls="patch">
        <label for="tab3">Patch</label>
        <input type="radio" name="tabset" id="tab4" aria-controls="heat">
        <label for="tab4">Heatmap</label>
        <!-- Tab 4 -->

        <div class="tab-panels">


            <section id="prop" class="tab-panel">
                <div class="wrapper">
                    <div style="grid-column: 1 / 3; grid-row: 1/3;">
                        <p style="text-align:center">Proportion de patch classé Luminal A ou B</p>

                        <img src="" width="100%" id="pie">
                    </div>
                    <div style="grid-column: 3 / 12; grid-row: 1 / 3;" id="pred_mean">
                        <p style="text-align:center">Moyenne des prédictions sur les patchs</p>
                    </div>

                    <div style="grid-column: 1 / 3; grid-row: 3 / 5;">
                    </div>
                    <div style="grid-column: 3 / 5; grid-row: 3 / 5;">

                    </div>

                </div>

            </section>
            <section id="hist" class="tab-panel">
                <div class="wrapper">
                    <div style="grid-column: 1 / 2; grid-row: 1/3;">
                        <img src="" width="100%" id="hist0">
                        <p style="text-align:center">Histogramme des prédictions Luminal A</p>

                    </div>
                    <div style="grid-column: 2 / 3; grid-row: 1/3;">
                        <img src="" width="100%" id="hist1">
                        <p style="text-align:center">Histogramme des prédictions Luminal B</p>
                    </div>
                    <div style="grid-column: 3 / 4; grid-row: 1/3;">
                        <img src="" width="100%" id="hist2">
                        <p style="text-align:center">Histogramme des prédictions pour la classe other</p>
                    </div>
                    <div style="grid-column: 4 / 5; grid-row: 1/3;">
                        <img src="" width="100%" id="hist3">
                        <p style="text-align:center">Histogramme des 3 classes</p>
                    </div>
                    <!-- <div style="grid-column: 1 / 2; grid-row: 3/5;">

                    </div>
                    <div style="grid-column: 2 / 3; grid-row: 3/5;">

                    </div>
                    <div style="grid-column: 3 / 4; grid-row: 3/5;">

                    </div> -->
                </div>

            </section>
            <section id="patch" class="tab-panel">
                <div style="position: relative;   height: 100%;  width: 50%;">
                    <div class="scrolling" id="patch0">

                    </div>
                </div>
                <div style=" width: 50%;" id="gradcam_galery">
                    <!-- maybe here -->
                    <!-- <div style="grid-column: 3 / 4; grid-row: 1/3;">

                    </div> -->

                </div>

            </section>
            <section id="heat" class="tab-panel">
                <div style=" width: 50%;" id="label_heat">

                </div>
                <div style=" width: 50%;" id="gradcam_custom">

                </div>


            </section>

        </div>

    </div>

</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>